@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); /*Fontes:  font-family: 'Poppins', sans-serif;*/

/*
/*
/*
/*
/* ANCHOR - ESTILO GERAL & BODY --------------------------------------------------------- */

/*Corpo geral do site*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.FontFamily {
  font-family: "Poppins", sans-serif;
}

.Centro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.TextColor {
  color: #344e90 !important;
}

.BackColor {
  color: white;
  background-color: #344e90 !important;
}

.WallHeader {
  background: url("/img/Fishing.png") no-repeat center center;
  background-size: cover;
}

.WallAbout {
  background: url("/img/SantaRita.png") no-repeat center center;
  background-size: cover;
}

/*
/*
/*
/*
/* ANCHOR - BARRA DE NAVEGAÇÃO --------------------------------------------------------- */

/*estilo geral*/
.BarraNav {
  position: fixed !important;
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 300;
  z-index: 10;
}

/*A direita Toggle*/
.ToggleDir {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: flex-end;
  margin-right: 6px;
}

/*Name logo*/
h5.NameBrand {
  font-size: 16px;
  margin: 0px;
}

h6.NameBrand {
  font-size: 14px;
  margin: 0px;
}

/*Links design*/
a.NavLink {
  margin: 5px 20px;
  text-decoration: none;
}
a.NavLink.active,
a.NavLink:hover {
  text-decoration: none;
  font-weight: 500;
}

/*button design*/
.Botão {
  color: white;
  padding: 5px 20px;
  border: 0px;
  border-radius: 60px;
  font-size: max(1vmin, 15px);
}

.NavLogo {
  height: 50px;
  margin-left: -5px;
}

/*
/*
/*
/*
/* ANCHOR - HEADER INICIAL --------------------------------------------------------- */

/*background*/
.HeaderBack {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vmin;
}

/*Header texts*/
.HeadText {
  margin: 0px;
  color: white;
}
h2.HeadText {
  font-size: max(6.1vmin, 25px);
  text-transform: uppercase;
  font-weight: bold;
}
h1.HeadText {
  font-size: max(9vmin, 40px);
  text-transform: uppercase;
  font-weight: bold;
}
p.HeadText {
  margin: 60px 0px -60px 0px;
  font-size: max(2vmin, 15px);
  font-weight: 400;
}

/*
/*
/*
/*
/* ANCHOR - CARDS DE INFO --------------------------------------------------------- */

.Cartão {
  border: 0px !important;
  padding: 30px 10px;
}

.TituloCard {
  font-size: max(2.8vmin, 17px);
  font-weight: 700;
}

.TextCard {
  margin: 20px 0px;
  font-size: max(1.8vmin, 13px);
  font-weight: 500;
}

.SMTextCard {
  margin: 20px 0px;
  font-size: max(1.5vmin, 13px);
  font-weight: 400;
}

.IconeCard {
  padding: 10px;
  width: 100%;
  height: auto;
  max-width: 180px;
}

/*
/*
/*
/*
/* ANCHOR - SOBRE NÓS - ABOUT --------------------------------------------------------- */

/*background*/
.AboutBack {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 80vw;
  height: 75vmin;
}

/*About texts*/
.AboutText {
  margin-left: -30px;
  color: white;
  max-width: 500px;
}
h2.AboutText {
  margin-top: 15%;
  font-size: max(5vmin, 25px);
  font-weight: bold;
}
p.AboutText {
  margin-top: 30px;
  font-size: max(2vmin, 10px);
  font-weight: 400;
}

/*Logo about style*/
.MarginLogo {
  margin-right: 10px;
}

.AboutLogo {
  height: 40vw;
  min-height: 200px;
  max-height: 600px;
}
